#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.taskList{
  margin: 1rem 0;
    padding: 1rem;
    background-color: #91b2e1;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
  }

.tasks
{
  list-style: none;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 50%);
  justify-content: center;}

  @keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .task_title {
    font-size: 16px;
    font-weight: bold;
    color: #013d8a;
    margin: 0;
    text-transform: uppercase;
  }
  
  .task_info {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #013c8ac4;
    font-style: italic;
  }
  .row
  {
    margin: 30px auto !important;
  }
.filter-button
{
  background-color: #0d52b6 !important;
}
.add-button
{
  background-color: #1150ac !important;
  color: white;
  border: none !important;
  transition: 0.3s; 
}
.edit-button ,
.delete-button
{
  color: white !important;
  font-size: 17px !important;
} 
.edit-button:hover ,
.delete-button:hover
{
  transform: translateY(-5px);
  transition: 0.3s;

}
.title
{
    font-size: 75px;
    font-family: ui-monospace;
    margin: 40px auto;
    color: #043574;
}
.message
{
  font-size: 45px;
    font-family: none;
    margin: 30px;
    color: #043574;
}
.modal-content
{
  background-color: #91b2e1 !important;
  color: #043574 !important;
  font-family: ui-monospace;
  font-weight: bold;
  font-size: 20px;
}
.save-button
{
  background-color: #043574 !important;
  border: none !important;
}